@keyframes appearInList {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.alert-log__event {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: .25rem 0.5rem;
	background: #1d2f41;
	border-bottom: 2px solid rgba(12, 21, 29, .5);
	cursor: pointer;
}

.alert-log__event.animation-active {
	animation: appearInList 0.5s ease-in-out;
	background: rgba(12, 21, 29, .5);
}

.alert-log__event:hover {
	background: rgb(40, 63, 88);
}

.alert-log__event__select {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 5rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}

.alert-log__event__select .rux-checkbox {
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
	cursor: pointer;
}

.alert-log__event__status {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 2rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}

.alert-log__event__message {
	flex-grow: 1;
	text-align: left;
	padding: 0 1rem;
	align-self: center;
}

.alert-log__event__category {
	flex-shrink: 0;
	text-align: left;
	width: 5rem;
	align-self: center;
}



.alert-log__event__timestamp {
	flex-shrink: 0;
	text-align: left;
	width: 5rem;
	padding-left: 1rem;
	align-self: center;
}

.alert-log__detail {
	overflow: hidden;
	padding: 0 1rem 0 2.5rem;
	height: 0;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	background: rgba(20, 32, 44, 0.5);
}

.alert-log__event.alert-log--expanded {
	background: var(--colorTertiary, rgb(40, 63, 88));
}

.alert-log--expanded + .alert-log__detail {
	height: auto;
	padding: 2rem 1rem 2rem 2.5rem;
}