<ul class="subsystems-list">
  <a class="subsystems-list__row" href$="[[investigateUrl]]?system=attitude" target="_blank">
    <li class="subsystems-list__item">
      <rux-status status="[[attitudeStatus]]"></rux-status>
      Attitude
      <svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
        <path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
        <path fill="currentColor" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
      </svg>
    </li>
  </a>
  <a class="subsystems-list__row" href$="[[investigateUrl]]?system=payload" target="_blank">
    <li class="subsystems-list__item">
      <rux-status status="[[payloadStatus]]"></rux-status>
      Payload
      <svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
        <path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
        <path fill="currentColor" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
      </svg>
    </li>
  </a>
  <a class="subsystems-list__row" href$="[[investigateUrl]]?system=power" target="_blank">
    <li class="subsystems-list__item">
      <rux-status status="[[powerStatus]]"></rux-status>
      Power
      <svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
        <path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
        <path fill="currentColor" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
      </svg>
    </li>
  </a>
  <a class="subsystems-list__row" href$="[[investigateUrl]]?system=propulsion" target="_blank">
    <li class="subsystems-list__item">
      <rux-status status="[[propulsionStatus]]"></rux-status>
      Propulsion
      <svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
        <path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
        <path fill="currentColor" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
      </svg>
    </li>
  </a>
  <a class="subsystems-list__row" href$="[[investigateUrl]]?system=thermal" target="_blank">
    <li class="subsystems-list__item">
      <rux-status status="[[thermalStatus]]"></rux-status>
      Thermal
      <svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
        <path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
        <path fill="currentColor" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
      </svg>
    </li>
  </a>
</ul>