:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    font-size: 0.9rem;
}

.subsystems-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1d2f41;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}
.subsystems-list__row {
    color: #fff;
	background: #1c2e40;
    border-bottom: 2px solid rgba(12, 21, 29, .5);
    transition: .25s background;
}
.subsystems-list__row:hover {
    color: #fff;
    background: rgba(40, 63, 88, 1);
}
.subsystems-list__item {
    padding: .5rem 1rem .5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.subsystems-list__item rux-status {
    margin-right: .5rem;
}
.subsystems-list__item .rux-icon--external {
    margin-left: auto;
    color: var(--colorSecondary, rgb(77, 172, 255));
}
