<ul class="status-indicators">
	<li class="status-indicators__indicator">
		<rux-status 
				on-click="_click"
				status="[[status.rfStatus.worstStatus]]"
				label="Lion-A" 
				icon="monitoring:antenna-off" 
				notifications=[[status.facilitiesStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status 
				on-click="_click"
				status="[[status.facilitiesStatus.worstStatus]]"
				label="IRON 4090" 
				icon="monitoring:satellite-transmit" 
				notifications=[[status.facilitiesStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status 
				on-click="_click"
				status="[[status.commsStatus.worstStatus]]"
				label="Comms" 
				icon="monitoring:antenna-receive" 
				notifications=[[status.commsStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status 
				on-click="_click"
				status="[[status.softwareStatus.worstStatus]]"
				label="Software" 
				icon="monitoring:processor" 
				notifications=[[status.softwareStatus.numMessages]]>
		</rux-status>
	</li>
</ul>