<div id="tooltip" class="tooltip" aria-labeledby=[[data.target.id]] role="tooltip" hidden$=[[visible]]>
	<div class="tooltip__title">[[ data.data.label ]]</div>
	<div class="tooltip__body">
		<template is="dom-if" if="[[ data.data.hasGraph]]">
			<div class="tooltip__graph">
					<svg width="100%" viewBox="0 0 228 105" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path d="M6.4453441,25.9493534 L221.386381,25.9493534" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,10.59375 L221.386381,10.59375" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,40.4967672 L221.386381,40.4967672" id="Line-Copy" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,48.0398707 L221.386381,48.0398707" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,32.9536638 L221.386381,32.9536638" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,55.8523707 L221.386381,55.8523707" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,63.1260776 L221.386381,63.1260776" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,70.9385776 L221.386381,70.9385776" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,85.2165948 L221.386381,85.2165948" stroke="#C6CCD1" opacity="0.196062" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M6.4453441,93.0290948 L221.386381,93.0290948" stroke="#C6CCD1" stroke-linecap="square" stroke-dasharray="0.269396551724138"></path>
						<path d="M221.553879,77.75 L6.55387931,77.75 L221.553879,77.75 Z" stroke="#FFFFFF" stroke-linecap="square" stroke-dasharray="2"></path>
						<path d="M221.553879,17.75 L6.55387931,17.75 L221.553879,17.75 Z" stroke="#FFFFFF" stroke-linecap="square" stroke-dasharray="2"></path>
						<polyline stroke="#FFFFFF"  fill="none" stroke-linecap="round" points="6.55387931 32.34509 22.1721641 47.5498823 49.4205632 39.9887783 81.8428779 75.25 105.288872 40.3371946 135.517843 55.6483106 161.98861 47.4094185 186.331845 55.3726022 220.553879 25.25"></polyline>
				</svg>
			</div>
		</template>
		<div class="tooltip__meta tooltip__meta--value">
			<span class="tooltip__label">Value</span>
			<span class="tooltip__value">[[ data.data.actualValue ]]</span>			
		</div>

		<div class="tooltip__meta tooltip__meta--subsystem">
			<span class="tooltip__label">Subsystem</span>
				<a target="_blank" href$="[[investigateUrl]]?system=[[data.data.subsystem ]]">
					[[ data.data.subsystem ]]
					<svg class="rux-icon rux-icon--external" version="1.1" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14" height="15" viewBox="0 0 15 16"
						enable-background="new 0 0 15 16" xml:space="preserve">
						<path fill="currentColor" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z" />
						<path fill="currentColor"
							d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z" />
					</svg>
				</a>
		</div>

		<div class="tooltip__meta tooltip__meta--watched">
			<div class="rux-checkbox">
				<input checked={{data.data.watched::change}} type="checkbox" name="tooltip-watched" id="tooltip-watched" />
				<label for="tooltip-watched"></label>
				Add to Watcher
			</div>
		</div>

	</div>
</div>