
<div class="command-bar">
	<button tabindex="1000" disabled$="[[!available]]" id="commandBarShowList" class="rux-button rux-button--icon-only" on-click="toggleAllCommands" open$="[[allCommandsOpen]]">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16"
					viewBox="-8 -4 27 27" enable-background="new -8 -4 27 27" xml:space="preserve" fill="currentColor">
			<path d="M18,8H-8L5-4L18,8z"/>
			<path d="M-9,11h26L5,22L-8,11z"/>
		</svg>
	</button>
	<input tabindex="1001" disabled$="[[!available]]" id="commandBarInput" type="text" class="rux-form-field" placeholder$="[[commandInputPlaceholder]]" value="{{ draftCommand::input }}" on-focus="openAllCommands">
	<button tabindex="9001" id="commandBarSubmit" class="rux-button" disabled$="[[!allowSubmit(draftCommand)]]" on-click="addDraftCommandToQueue">Add to Queue</button>		
</div>

<div class="all-commands" id="allCommands" tabindex="1001" open$="[[allCommandsOpen]]">

	<template is="dom-if" if="{{!renderedItemCount}}">
		<div class="all-commands__no-results">
			<div>No commands found matching "<b>[[draftCommand]]</b>".
			</div>
		</div>
	</template>

	<ul class="all-commands__list">
		<li class="all-commands__group">Recent Commands</li>
		<ul class="all-commands__list">
			<template id="quickCommandsList" is="dom-repeat" items="[[quickCommands]]" as="command" filter="[[_filterCommands(draftCommand)]]">
					<li tabindex$="[[add(1002,index)]]" class="all-commands__command" 
					data-command-id$="[[command.commandId]]"
					data-command-string$="[[command.commandString]]" 
					data-command-description$="[[command.description]]" 
					on-click="selectCommand">
					[[command.commandString]] <i>([[command.description]])</i>
				</li>
			</template>
		</ul>

		<li class="all-commands__group">All Commands</li>
		<ul class="all-commands__list">
			<template id="allCommandsList" is="dom-repeat" items="[[allCommands]]" as="command" filter="[[_filterCommands(draftCommand)]]" sort="{{sortByCommandString}}"rendered-item-count="{{renderedItemCount::dom-change}}">
				<li tabindex$="[[add(1100,index)]]" class="all-commands__command" 
					data-command-id$="[[command.commandId]]"
					data-command-string$="[[command.commandString]]" 
					data-command-description$="[[command.description]]" 
					on-click="selectCommand">
					[[command.commandString]] <i>([[command.description]])</i>
				</li>
			</template>
		</ul>

	</div>