:host {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.command-bar {
    display: flex;
    flex-flow: row nowrap;
}

.rux-button:focus {
    outline: rgb(59, 153, 252) auto 5px;
}

.rux-button--icon-only {
    border-radius: 3px 0 0 3px;
    box-shadow: none !important;
}
.rux-button--icon-only svg {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.rux-button[open]{
    border-color: rgb(58, 129, 191);
    border-color: var(--buttonHoverBorderColor, rgb(58, 129, 191));
    background-color: rgb(58, 129, 191);
    background-color: var(--buttonHoverBackgroundColor, rgb(58, 129, 191));
    /* box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: var( --buttonHoverBoxShadow, 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.2) ); */
}
.rux-button[disabled]{
    color: var(--colorSecondaryLighten4);
    cursor: var(--disabledCursor, not-allowed);
}
.rux-form-field {
    padding: 0 .5rem 0 .75rem;
    flex-grow: 1;
    font-size: 14px;
    color: var(--inputTextColor, rgb(0, 0, 0));
    border-radius: 0 3px 3px 0;
    border-width: 0;
}
.rux-form-field[disabled] {
    opacity: .7;
    cursor: var(--disabledCursor, not-allowed);
}
.rux-button:last-child {
    margin-left: .5rem;
}

.all-commands {
    display: none;
    position: absolute;
    width: 100%;
    height: 280px;
    border: 1px solid rgb(0, 23, 36);
    border-radius: 3px;
    bottom: 2rem;
    left: 0;
    overflow-y: scroll;
    background: rgba(20, 31, 44, 1);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; 
    font-size: 14px;
}
.all-commands[open] {
    display: block;
    outline: -webkit-focus-ring-color auto 5px;
    outline: var(--colorSecondary) auto 5px;
    outline-offset: -2px;
}
.all-commands__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
    margin-bottom: .5rem;
}
.all-commands__group {
    padding: .5rem .5rem .25rem 1rem;
    color: rgba(255,255,255, .6);
    cursor: default;
}
.all-commands__group:first-child {
    padding-top: .75rem;
}
.all-commands__command {
    font-weight: bold;
    padding: .25rem 1rem .25rem 2rem;
    cursor: pointer;
    transition: background .125s;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; 
}
.all-commands__command:hover, 
.all-commands__command:focus {
    background: var(--colorTertiary, rgb(40, 63, 88));
}
.all-commands__command i {
    font-weight: normal;
}
.all-commands__no-results {
	flex-grow: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	align-content: center;
	background-color: var(--colorPrimaryDarken1, rgb(0, 68, 107));
	color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
	padding: 0.5rem;
	text-align: center;
	width: 100%;
}
