.steps {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  flex-flow: column;
  flex-shrink: 0;
}
.step {
	background: #1c2e40;
	border-bottom: 2px solid rgba(12, 21, 29, .5);
  display: flex;
	flex-flow: row;
	padding: .75rem .25rem;
  align-items: center;
  position: relative;
}
.step:not(.substep):last-of-type,
.step:not(.pass-step-headers):last-of-type {
  border-bottom-width: 0;
}

.pass-step-headers {
	font-size: 14px;
  padding: .75rem .25rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
  z-index: 10;
  background: rgb(26, 40, 56);
}
.pass-step-headers .step__prop {
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	border-width: 1px 0;
}

.step.substep {
  padding-left: 3rem;
  display: none;
}
.step__prop {
	padding: 0 .25rem;
  flex: 0 0 auto;
  order: 10;
}
.step-num { 
	width: 3rem; 
  text-align: center;
  order: 1;
}
.step-state { 
	width: 3rem;
}
.step-label { 
  flex: 1 1 auto; 
  white-space: nowrap;
}
.step-progress { 
	flex: 1 1 50%;
}
.step-watching { 
  flex: 0 0 auto;
  font-style: italic;
  text-align: right;
  padding-right: 1rem;
  font-size: 16px;
  align-items: center;
  display: flex;
}

.step-watching svg {
  display: inline-flex;
  margin-right: .5rem;
}

.step-progress-control {

}
.step-progress-bar {
  flex: 1 0 auto;
  padding: 0 1rem;

}
.step-progress-bar__label {
  margin-bottom: .25rem;
}
.step-progress-duration {
  flex: 0 0 6rem;
  font-size: 16px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.step-progress-duration svg {
  display: inline-flex;
  margin-right: .5rem;
}
.step-prompts {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
.step__prompt {
  flex: 1 1 auto;
}
.step__prompt .rux-select {
  display: block;
  margin: .5rem 0;
  padding-right: 2rem;
} 

li.step .step-state .rux-checkbox {
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
}

.step .tooltip-trigger {
  color: var(--colorSecondaryLighten3);
	text-transform: uppercase;
  border-bottom: 1px dashed var(--colorSecondaryLighten3);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.step .step-label .measurand-value {
	text-transform: uppercase;
}

.step[step-type="two-part"] .step-num {
  align-self: baseline
}
.step[step-type="multi-step"] {
	background: rgb(40, 63, 88);
}
.step[step-type="command"] {
  background: var(--colorSecondaryDarken2);
  text-align: center;
  display: block;
  padding: .5rem;
}
.step[step-type="command"] .step-label {
}
.step-progress rux-progress {
	display: none;
}
.step[in-progress] .step-progress rux-progress {
	display: block;
}
.step[in-progress] {
	background: #283F58;
}
.step[complete] {
	background: #1b2938;
	color: var(--colorPrimaryLighten3);
}
.step[complete] .tooltip-trigger {
  border-color: var(--colorPrimaryLighten2);
  color: var(--colorSecondaryLighten2);
}

.step[step-type="multi-step"][expanded] {
	box-shadow: 0 0.15rem .75rem rgba(0, 0, 0, 0.25); 
  z-index: 1;
}

.step__arrow {
  position: absolute;
  order: 0;
  padding: 0 .25rem;
  cursor: pointer;
}
.step__arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--triangleWidth, 7px) 0 var(--triangleWidth, 7px)
    var(--triangleWidth, 7px);
  border-color: transparent transparent transparent
    var(--treeAccentColor, rgb(77, 172, 255));
  display: inline-block;
}
.step__arrow::before {
  content: '';
  width: calc(var(--itemPadding, 0.5rem) * 3);
  height: calc(var(--itemPadding, 0.5rem) * 3);
  display: block;
  position: absolute;
  left: calc(var(--itemPadding, 0.5rem) * -2);
  top: 0;
  pointer-events: all;
}

/* Expanded */
.step[step-type="multi-step"][expanded] .step__arrow::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.step.substep[visible] {
  display: flex;
  height: auto;
}
.step.substep[visible]:last-of-type:after{
  position: absolute;
  display: block;
  width: 100%;
  height: .5rem;
  bottom: -.5rem;
  left: 0;
  content: '';
  z-index: 10;
  box-shadow:  0 -0.125rem .5rem rgba(0, 0, 0, 0.25); 
}

.play-pause-button {}

.play-pause-button svg {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.14);
  border-radius: 100%;
  cursor: pointer;
}
.play-pause-button[play-state="complete"] svg {
  cursor: default;
}

.play-pause-button svg .button-background {
  fill: var(--colorPrimary);
  stroke: var(--colorSecondaryDarken1);
}
.play-pause-button[play-state="playing"] svg .button-background,
.play-pause-button[play-state="complete"] svg .button-background {
  fill: var(--colorPrimaryDarken1);
  stroke: var(--colorSecondaryDarken2);
}
.play-pause-button svg:hover .button-background {
  fill: var(--colorPrimaryLighten1);
  stroke: var(--colorSecondaryLighten1);
}
.play-pause-button svg .button-icon {
  fill: #FFF;
}

.play-pause-button .completed-state,
.play-pause-button .pause-button {
  display: none;
}


/* paused & unplayed */
.play-pause-button[play-state="paused"] .play-button,
.play-pause-button[play-state="unplayed"] .play-button {
  display: block;
}
.play-pause-button[play-state="paused"] .completed-state,
.play-pause-button[play-state="paused"] .pause-button,
.play-pause-button[play-state="unplayed"] .completed-state,
.play-pause-button[play-state="unplayed"] .pause-button {
  display: none;
}

/* playing */
.play-pause-button[play-state="playing"] .pause-button {
  display: block;
}

.play-pause-button[play-state="playing"] .completed-state,
.play-pause-button[play-state="playing"] .play-button {
  display: none;
}

/* complete */
.play-pause-button[play-state="complete"] .completed-state {
  display: block;
}
.play-pause-button[play-state="complete"] .pause-button,
.play-pause-button[play-state="complete"] .play-button {
  display: none;
}
