<div class="grid-zone__sub-label" pass-state$="[[passState]]">
  <template is="dom-if" if="[[is('prepass',passState)]]">
    Pre-Pass
  </template>
  <template is="dom-if" if="[[is('interstitial',passState)]]">
    Pre-Pass Complete. Pass starts in [[interstitialCountdownString]]
  </template>
  <template is="dom-if" if="[[is('pass',passState)]]">
    Pass
  </template>
</div>
<div class="pass-step-headers step">
	<div class="step__prop step-num">Step</div>
	<div class="step__prop step-state"></div>
	<div class="step__prop step-label">Instruction</div>
	<div class="step__prop step-progress"></div>
</div>

<template is="dom-if" if="[[is('prepass',passState)]]">
  <ttc-pre-pass></ttc-pre-pass>
</template>

<template is="dom-if" if="[[is('pass',passState)]]">
  <ttc-pass-plan steps="[[passPlanSteps]]"></ttc-pass-plan>
</template> 
<div class="playlist-actions">
  <ttc-command available="[[is('pass',passState)]]"></ttc-command>
</div>