:host {
  display: flex;
  flex-flow: column;
	flex-grow: 1;
	background: rgb(26, 40, 56);
	overflow: hidden;
}

.grid-zone__sub-label {
	display: flex;
	text-align: center;
	flex-flow: column;
	padding: .25rem;
	font-size: 16px;
	font-weight: bold;
	background: rgb(40, 63, 88);
	border: 1px solid  rgb(79, 104, 131);
	box-shadow: inset 0 0 3px rgb(79, 104, 131);
}
.grid-zone__sub-label[pass-state="prepass"],
.grid-zone__sub-label[pass-state="interstitial"] {
	border-color: var(--statusDarkStandby, rgb(45, 204, 255));
	box-shadow: inset 0 0 3px var(--statusDarkStandby,  rgb(45, 204, 255));
	background: rgba(45, 204, 255, .3)
}
.grid-zone__sub-label[pass-state="pass"] {
	border-color: var(--statusDarkNormal, rgb(86, 240, 0));
	box-shadow: inset 0 0 3px var(--statusDarkNormal, rgb(86, 240, 0));
	background: rgba(86, 240, 0, .3)
}

.playlist-actions {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 -0.5rem 1.25rem rgba(0, 0, 0, 0.35);
	padding: 1rem;
	margin-top: auto;
	z-index: 1;
}
.playlist-actions .rux-button,
.playlist-actions .rux-text-entry {
	margin: 0.25rem;
}