<ol class="steps" id="stepList">
  <template is="dom-repeat" items="[[steps]]" as="step">

    <li class="step" step-type$="[[step.type]]" complete$="[[step.complete]]" expanded$="[[step.expanded]]">

      <template is="dom-if" if="[[is(step.type, 'single-step')]]">
        <div class="step__prop step-num">[[addOne(index)]]</div>
        <div class="step__prop step-state">
          <div class="rux-checkbox" on-click="toggleCompleteState">
            <input checked$="[[step.complete]]" type="checkbox" name="[[step._id]]" id="[[step._id]]" />
            <label for$="[[step._id]]"></label>
          </div>
        </div>
        </div>
        <div class="step__prop step-label">
          Verify <span id$="[[step._id]]" class="tooltip-trigger" on-click="showToolTip">[[step.label]]</span>
          =
          <strong class="measurand-value">[[step.expectedValue]]</strong>
        </div>
        <div class="step__prop step-watching">
          <template is="dom-if" if="[[step.watched]]">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14">
              <path fill="#FFF"
                d="M9.6,0 C13.61475,0 18,5.42266667 18,7 C18,8.57733333 13.61475,14 9.6,14 C4.38525,14 0,8.57733333 0,7 C0,5.42266667 4.38525,0 9.6,0 Z M9,11.6666667 C11.485125,11.6666667 13.5,9.57716667 13.5,7 C13.5,4.42283333 11.485125,2.33333333 9,2.33333333 C6.514875,2.33333333 4.5,4.42283333 4.5,7 C4.5,9.57716667 6.514875,11.6666667 9,11.6666667 Z M9,9.33333333 C7.75735931,9.33333333 6.75,8.28866442 6.75,7 C6.75,5.71133558 7.75735931,4.66666667 9,4.66666667 C10.2426407,4.66666667 11.25,5.71133558 11.25,7 C11.25,8.28866442 10.2426407,9.33333333 9,9.33333333 Z" />
            </svg>
            Watching
          </template>
        </div>
      </template>

      <template is="dom-if" if="[[is(step.type, 'two-part')]]">
        <div class="step__prop step-num">[[addOne(index)]]</div>
        <div class="step__prop step-prompts">
          <template is="dom-repeat" items="[[step.prompts]]" as="prompt">
            <div class="step__prompt">
              [[prompt]]
              <select class="rux-select" required name="[[prompt]]">
                <option value=null>- Select - </option>
                <option value='0'>No</option>
                <option value='1'>Yes</option>
              </select>
            </div>
          </template>
        </div>
      </template>

      <template is="dom-if" if="[[is(step.type, 'multi-step')]]">
        <div class="step__prop step-num">[[addOne(index)]]</div>
        <div class="step__prop step-progress-control">
          <div class="play-pause-button" play-state$="[[step.playState]]" on-click="toggleStepPlayState">
            <svg class="play-button" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
              <circle class="button-background" cx="20" cy="20" r="19" />
              <polygon class="button-icon" transform="translate(14 11)" points="0 17 0 1 13 9" />
            </svg>
            <svg class="pause-button" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
              <circle class="button-background" cx="20" cy="20" r="19" />
              <path class="button-icon" transform="translate(1 1)"
                d="M14,10 L17,10 L17,28 L14,28 L14,10 Z M21,10 L24,10 L24,28 L21,28 L21,10 Z" />
            </svg>
            <svg class="completed-state" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
              <circle class="button-background" cx="20" cy="20" r="19" />
              <path stroke="#FFF" stroke-linecap="square" stroke-width="2.794" transform="translate(10 14)"
                d="M.287878788 7.06521739L6.07417081 12.7455819M6.04545455 12.7173913L18.7251999.269769474" />
            </svg>

          </div>
        </div>
        <div class="step__prop step-progress-bar">
          <div class="step-progress-bar__label">[[step.label]]</div>
          <!-- <div class="step-progress-bar__feedback">[[step.progressFeedback]]</div> -->
          <rux-progress value="[[step.progress]]" max="[[stepDuration]]"></rux-progress>
        </div>
        <div class="step__prop step-progress-duration">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
            <path fill="#FFF"
              d="M704.5,37 C699.80558,37 696,33.1944204 696,28.5 C696,23.8055796 699.80558,20 704.5,20 C709.19442,20 713,23.8055796 713,28.5 C713,33.1944204 709.19442,37 704.5,37 Z M704.5,35 C708.089851,35 711,32.0898509 711,28.5 C711,24.9101491 708.089851,22 704.5,22 C700.910149,22 698,24.9101491 698,28.5 C698,32.0898509 700.910149,35 704.5,35 Z M703.5,30.5 L703.5,24.5 C703.5,23.9477153 703.947715,23.5 704.5,23.5 C705.052285,23.5 705.5,23.9477153 705.5,24.5 L705.5,28.5 L708,28.5 C708.552285,28.5 709,28.9477153 709,29.5 C709,30.0522847 708.552285,30.5 708,30.5 L703.5,30.5 Z"
              transform="translate(-696 -20)" />
          </svg>
          00:00:25
        </div>
        <i class="step__arrow" on-click="_expand" title="Expand"></i>
      </template>
      <template is="dom-if" if="[[is(step.type, 'command')]]">
        <div class="step__prop step-label">
          <strong>[[step.label]]</strong> command executed by J.Smith at 15:20:00.
        </div>
      </template>

    </li>

    <template is="dom-if" if="[[is(step.type, 'multi-step')]]">
      <div>
        <template is="dom-repeat" items="[[step.steps]]" as="substep" index-as="substepIndex">
          <li class="step substep" step-type$="[[substep.type]]" complete$="[[substep.complete]]"
            visible$="[[step.expanded]]">
            <div class="step__prop step-num">[[addOne(index)]]-[[addOne(substepIndex)]]</div>
            <div class="step__prop step-state">
              <div class="rux-checkbox" on-click="toggleCompleteState">
                <input checked$="[[substep.complete]]" type="checkbox" name="[[substep._id]]" id="[[substep._id]]" />
                <label for$="[[substep._id]]"></label>
              </div>
            </div>
            <div class="step__prop step-label">
              Verify
              <span id$="[[substep._id]]" data-substep class="tooltip-trigger" on-click="showToolTip">[[substep.label]]</span>
              =
              <strong class="measurand-value">
                [[substep.expectedValue]]
              </strong>
            </div>
            <div class="step__prop step-watching">
              <template is="dom-if" if="[[substep.watched]]">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14">
                  <path fill="#FFF"
                    d="M9.6,0 C13.61475,0 18,5.42266667 18,7 C18,8.57733333 13.61475,14 9.6,14 C4.38525,14 0,8.57733333 0,7 C0,5.42266667 4.38525,0 9.6,0 Z M9,11.6666667 C11.485125,11.6666667 13.5,9.57716667 13.5,7 C13.5,4.42283333 11.485125,2.33333333 9,2.33333333 C6.514875,2.33333333 4.5,4.42283333 4.5,7 C4.5,9.57716667 6.514875,11.6666667 9,11.6666667 Z M9,9.33333333 C7.75735931,9.33333333 6.75,8.28866442 6.75,7 C6.75,5.71133558 7.75735931,4.66666667 9,4.66666667 C10.2426407,4.66666667 11.25,5.71133558 11.25,7 C11.25,8.28866442 10.2426407,9.33333333 9,9.33333333 Z" />
                </svg>
                Watching
              </template>
            </div>
          </li>
        </template>
      </div>
    </template>

  </template>
  <a id="scrollEnd"></a>
</ol>