<ol class="steps">
	<template is="dom-repeat" items="[[steps]]" as="step">
		<li class="step" in-progress$="[[isInProgress(step.progress)]]" complete$="[[isComplete(step.progress)]]" >
			<div class="step__prop step-num">[[addOne(index)]]</div>
			<div class="step__prop step-state">
				<div class="rux-checkbox">
					<input checked$="[[isComplete(step.progress)]]" type="checkbox" name="[[step.label]]" id="[[step.label]]" />
					<label for="[[step.label]]" ></label>
				</div>
			</div>
			<div class="step__prop step-label">[[step.label]] = <strong class="measurand-value">[[mapStepProgress(step.progress)]]</strong></div>
			<div class="step__prop step-progress"><rux-progress value="[[step.progress]]" max="[[stepDuration]]"></rux-progress></div>
		</li>
	</template>
</ol>

