<div class="system-health">
  <ttc-system-health-item 
    status="[[lock.status]]"
    label="Lock" 
    main-value="[[lock.value]]" 
    sub-label="Signal Strength" 
    sub-value="[[lock.signalStrength]]">
  </ttc-system-health-item>
  <ttc-system-health-item 
    status="[[telemetry.status]]"
    label="Telemetry" 
    main-value="[[telemetry.value]]" 
    sub-label="Total Frame Count" 
    sub-value="[[telemetry.frameCount]]">
  </ttc-system-health-item>
  <ttc-system-health-item 
    status="[[vcc.status]]"
    label="VCC" 
    main-value="[[vcc.value]]" 
    sub-label="Bad 
    Command Count" 
    sub-value="[[vcc.badCommandCount]]">
   </ttc-system-health-item>
</div>