<div class="system-health__item">
    <div class="system-health__item__primary">
        <rux-status status="[[status]]"></rux-status>
        <div class="system-health__item__primary__label">
            [[label]]
        </div>
        <div class="system-health__item__primary__value">
            [[mainValue]]
        </div>
    </div>
    <div class="system-health__item__secondary" state$="[[status]]">
        <div class="system-health__item__secondary__label">
            [[subLabel]]:
        </div>
        <div class="system-health__item__secondary__value">
            [[subValue]]
        </div>
    </div>
</div>