:host {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.system-health__item {
  margin: .5rem .5rem 0;
  display: flex;
	flex-flow: column;
	flex-grow: 1;
}
.system-health__item__primary {
  display: flex;
	flex-flow: row;
	flex-grow: 1;
  padding: .25rem .5rem;
  background: #1C2E3F;
  border: 1px solid #475e75;
  border-bottom-width: 0;
  line-height: 24px;
  justify-content: space-between;
  align-items: center;
}
.system-health__item__secondary {
  display: flex;
	flex-flow: row;
	flex-grow: 1;
  padding: .25rem .5rem;
  font-size: 14px;
  font-style: italic;
  align-items: center;
  justify-content: flex-end;
  line-height: 20px;
  border: 1px solid  rgb(79, 104, 131);
  box-shadow: inset 0 0 3px rgb(79, 104, 131);
}
.system-health__item__secondary[state="off"] {
  border-color: var(--statusDarkOff, rgb(158, 167, 173));
  box-shadow: inset 0 0 3px var(--statusDarkOff, rgb(158, 167, 173));
	background: rgba(158, 167, 173, .3)
}
.system-health__item__secondary[state="standby"] {
  border-color: var(--statusDarkStandby, rgb(45, 204, 255));
  box-shadow: inset 0 0 3px var(--statusDarkStandby,  rgb(45, 204, 255));
	background: rgba(45, 204, 255, .3)
}
.system-health__item__secondary[state="normal"] {
  border-color: var(--statusDarkNormal, rgb(86, 240, 0));
  box-shadow: inset 0 0 3px var(--statusDarkNormal, rgb(86, 240, 0));
	background: rgba(86, 240, 0, .3)
}
.system-health__item__secondary[state="caution"] {
  border-color: var(--statusDarkCaution, rgb(252, 232, 58));
  box-shadow: inset 0 0 6px var(--statusDarkCaution, rgb(252, 232, 58));
	background: rgba(252, 232, 58, .3)
}
.system-health__item__secondary[state="serious"] {
  border-color: var(--statusDarkSerious, rgb(255, 179, 0));
  box-shadow: inset 0 0 3px var(--statusDarkSerious, rgb(255, 179, 0));
	background: rgba(255, 179, 0, .3)
}
.system-health__item__secondary[state="critical"] {
  border-color: var(--statusDarkCritical, rgb(255, 56, 56));
  box-shadow: inset 0 0 3px var(--statusDarkCritical, rgb(255, 56, 56));
	background: rgba(255, 56, 56, .3)
}


.system-health__item__primary__label {
  margin-right: auto;
}
.system-health__item__secondary__label {}
.system-health__item__primary__value {
  padding-right: .5rem;
}
.system-health__item__secondary__value {
  margin-left: .5rem;
  padding-right: .5rem;
}
.system-health__item rux-status {
  margin-right: .5rem;
}
