:host {
	display: flex;
    flex-flow: column;
	flex-grow: 1;
	font-size: 0.9rem;
}
.watcher__detail {
	display: flex;
    flex-flow: column;
	flex-grow: 1;
	overflow: hidden;
}
.watcher__equipment-label {
	padding: 0.5rem 1rem;
    color: #fff;
	background: rgb(40, 63, 88);
	font-weight: bold;
}

.watcher-header {
	display: flex;
    position: relative;
    width: 100%;
	justify-content: space-between;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
	z-index: 10;
}

.watcher__header-labels {
	display: flex;
	flex-grow: 1;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.5rem 1.75rem 0.5rem 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-width: 1px 0;
}
.watcher {
	display: flex;
    flex-flow: column;
    flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.watcher__item {
    display: flex;
    flex-flow: row;
	align-content: flex-start;
    flex-shrink: 1;
	align-items: flex-start;
	padding: 0.5rem;
    color: #fff;
    background: #1d2f41;
    border-bottom: 2px solid rgba(12, 21, 29, .5);
	width: 100%;
}

.watcher__item__prop {
	flex: 1 1 20%;
	text-align: right;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.watcher__item__status {
	flex: 0 0 2.5rem;
	padding-left: .5rem;
}
.watcher__item__mnemonic {
	flex: 1 0 6rem;
	text-align: left;
}
.watcher__item__unit {
	flex: 1 0 3rem;
}
.watcher__item__threshold {
	flex: 1 0 6rem;
}
.watcher__item__actual {
	flex: 1 0 4rem
}
.watcher__item__action {
	flex: 1 0 2rem;
}
.watcher__item__mnemonic .tooltip-trigger {
	display: inline-block;
	color: var(--colorSecondaryLighten3);
	text-transform: uppercase;
	border-bottom: 1px dashed var(--colorSecondaryLighten3);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }