

:host {
	--gridGutter: .5rem;
	--rightPaneWidth: 24vw;
	--appMenuDefault: #455D6E;
	--appMenuActive: #FFF;
}

.grid-zone {
	grid-column-start: auto;
	grid-column-end: auto;
	grid-row-start: auto;
	grid-row-end: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	border: 1px solid #475e75;
	background: rgb(26, 40, 56);
}

.grid-zone--header {
	grid-area: header;
	border-width: 0;
	margin-bottom: var(--gridGutter);
}

.grid-zone--left {
	grid-area: left;
	margin-left: calc( var(--gridGutter) * 2 );
	margin-bottom: var(--gridGutter);
}

.grid-zone--center {
	grid-area: center;
	margin-bottom: var(--gridGutter);
}

.grid-zone--right-top {
	grid-area: right-top;
	margin-right: calc( var(--gridGutter) * 2 );
	flex-grow: 0;
}

.grid-zone--right-middle {
	grid-area: right-middle;
	margin-right: calc( var(--gridGutter) * 2 );
	flex-grow: 0;
}

.grid-zone--right-bottom {
	grid-area: right-bottom;
	margin-right: calc( var(--gridGutter) * 2 );
	margin-bottom: var(--gridGutter);
}

.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.grid-zone__sub-label {
	text-align: center;
	text-transform: capitalize;
}

.grid-zone__label .rux-status {
	margin-right: .5rem;
}

.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	position: relative;
}

.grid-zone--center .grid-zone__content {
	display: flex;
	flex-flow: column nowrap;
}
.playlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}
.playlist__command {
	line-height: 1rem;
	padding: 2rem 1rem;
	border-bottom: 1px solid rgba(0,0,0, .25);
	flex-grow: 1;
	flex-flow: column;
}


/* Grid containers */
.app-grid {
	background: #283F58;
	display: grid;
	/* width: 100vw; */
	height: 100vh;
	padding: 0 0 var(--gridGutter);
	grid-column-gap: var(--gridGutter);
	grid-row-gap: var(--gridGutter);
	grid-template-rows: fit-content(100%) 270px fit-content(238px) auto;
	grid-template-columns: 30% auto 30%;
	grid-template-areas:
		"header header header"
		"left center right-top"
		"left center right-middle"
		"left center right-bottom"
		;
}



	.rux-global-status-bar .app-meta {
		padding-left: 20px;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-template-areas:
			"icon appname"
			"icon username";
	}	
	.rux-global-status-bar .app-meta:hover {
		cursor: pointer;
	}
	.rux-global-status-bar .app-meta__icon {
		grid-area: icon;
		fill: var(--appMenuDefault);
	}
	.rux-global-status-bar .app-meta:hover .app-meta__icon,
	.rux-pop-up-menu[opened] ~ .rux-global-status-bar .app-meta .app-meta__icon {
		fill: var(--appMenuActive);
	}
	.rux-global-status-bar .app-meta h1 {
		grid-area: appname;
		font-size: 28px;
		margin: 0;
		line-height: 28px;
		text-transform: uppercase;
		color: #FFF;
	}

	.rux-global-status-bar .app-meta h1 span {
		font-weight: 600;
		margin-right: 10px;
	}

	.rux-global-status-bar .app-meta__username {
		grid-area: username;
		font-size: 12px;
		line-height: 12px;
		
	}

  .rux-global-status-bar .rux-clock {
	}
	.rux-global-status-bar .status-indicators {
		margin-right: 100px;
	}



.pass-plan-automation-mode{
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	margin: 0 0.5rem 0 auto;
}

.pass-plan-automation-mode label {
	font-weight: bold;
	font-size: 0.9rem;
	margin-right: 1rem;
	align-self: center;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
}

.pass-plan-automation-mode .rux-select {
	padding-right: 2rem;
}